# Flutter / Dart / Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/local.properties
**/android/key.properties
*.jks
*.keystore

# iOS
**/ios/Pods/
**/ios/.symlinks/

# Build artifacts
*.apk
*.aab
*.ipa

# Misc
.DS_Store
*.iml
.idea/
